html{
	height: 100%;
	width: 100%;
}

body {
	overflow: auto;
    margin:0;
	height:inherit;
	min-width: 100%;
    /*background: black;*/
    background: url(../Images/home_2.png);
	background-size: cover;
	background-repeat: no-repeat;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
    color: #ff0011;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
}

img.border {
    border: 6px solid #E1F1F6;
}

img.alignleft {
    float: left;
    margin-right: 25px;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0 auto;
}
iframe{
	width:80%;
	height:150%;	
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}
#sites{
	width:80%;
	
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
	margin-top:80px;
}
#wrapper {
    margin: 0 auto;
    padding: 0;
	left: 0;
}

#footer {
	height: 40px;
    background: url("../Images/menu-wrapper.png");
    position: fixed;
    bottom:0;
    width:100%;
}

#footer p {
    margin: 0;
    padding-top: 0px;
    bottom: 0;
	left: 0;
    line-height: normal;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    color: white;
}

/*Top Menu */
#menu-wrapper {
    height: 50px;
	width:100%;
    background: url(../Images/menu-wrapper.png) repeat-x left top;
}

#menu {
    width:100%;
    height: 50px;
    margin: 0 auto 0 auto;
    padding: 0px 40px;
    text-align: center;
}
#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    display: inline-block;
    border-radius: 40px;
}

#menu a {
    display: inline-block;
    height: 50px;
    margin-right: 1px;
    padding: 0px 20px 0px 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    border: none;
}

#menu a:hover {
    background: #770818;
}

.welcome_bar{
	color: white;
	text-align: center;
	font-size: 20px;
}


.message_bar{
	position:absolute;
	margin-left:15%;
	margin-top:10%;
	width: 70%;
	height:100px;
	color: white;
	text-align: center;
	font-size: 50px;
}


.util_btn {
	position:absolute;
	top:55%;
	left:45%;
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 10px;
}


@media only screen and (max-width:790px) {
	.message_bar{
		width:100%;
		top: 30%;
		font-size: 30px;
	}
	
	.util_btn{
		top: 60%;
		left: 40%;
	}
}